.question{
    background-color: #FAFAFA;
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    align-items: center;
    p{
        font-family: "TTNorms Medium";
        font-size: 20px;
        color: #212121;
    }
    .moreButton{
        width: 38px;
        height: 38px;
        background-color: #96317D;
        border-radius: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .moreButton:hover{
        cursor: pointer;
    }
}