.advantage{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        margin-bottom: 30px;
        max-width: 90px;
        max-height: 75px;
    }
    p{
        max-width: 207px;
        text-align: center;
        font-family: "TTNorms Medium";
        font-size: 20px;
        color: #000;
    }
}